@font-face {
    font-family: 'Director';
    src: url("../assets/DirectorRegular.ttf");
    font-weight: 400;
}

body{
    background-color: crimson;
    font-family: 'DirectorRegular', Helvetica, sans-serif;
}