@font-face {
    font-family: 'DirectorRegular';
    src: url("../assets/DirectorRegular.ttf");
}

body{
    background-color: rgb(33, 0, 85);
    font-family: 'DirectorRegular', Helvetica, sans-serif;
    color:rgb(119, 58, 241);
}